.thumbnail{
  margin-top: 50px;
  margin-bottom: auto;
  max-width: 300px;
  
}
.thumbnail img{
  max-height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.thumbnail .description {
  color: #7f7f7f;
  margin-left: auto;
}
.price{
  font-weight: bold;
  font-size: 16px;
  float: left;
  margin-left: auto;
}

.btn{
  float:right;
  margin-right:auto;
}
.thumbnail .details{
  float:left;
}
